@import "./overrrides";

.my-max {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

body {
    .container-fluid {
        footer {
            .row {
                .d-flex {
                    @media screen and (min-width: 768px) {
                        width: 50%;
                    }
                }
            }
        }
    }
}
