@import "./overrrides";

.my-max {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

.paypall-logo {
    width: 80px;
    height: 40px;
    object-fit: cover;
}

.no-under {
    text-decoration: none;
}

.w-65 {
    width: 65%;
}

body {
    #card-principale {
        main {
            #riga-generale {
                .carta {
                    transition: all 300ms;
                    .description {
                        display: none;
                    }
                }
                .primo:active {
                    transition: all 300ms;
                    translate: 300px;
                }
                .ultimo:active {
                    transition: all 300ms;
                    translate: -300px;
                }

                .carta:active {
                    box-shadow: 7px 7px 12px rgb(12, 12, 12);
                    transition: all 300ms;
                    scale: 2;
                    z-index: 99;
                    border-radius: 30px;

                    .description {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .container-fluid {
        .my-5 {
            .row {
                #this {
                    @media screen and (min-width: 1px) {
                        width: 90%;
                    }
                    @media screen and (min-width: 768px) {
                        width: 50%;
                    }
                }
                #that {
                    @media screen and (min-width: 1px) {
                        width: 90%;
                    }
                    @media screen and (min-width: 768px) {
                        width: 50%;
                    }
                }
                #those {
                    @media screen and (min-width: 1px) {
                        width: 90%;
                    }
                    @media screen and (min-width: 768px) {
                        width: 50%;
                    }
                }
            }
        }
    }
}
